.gameBoard {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-left: 5%;
}

.column {
    height: 100%;
    width: 15%;
    margin: 0% -4%;
}

.cell {
    height: 100px;
    width: 100px;
    border: 1px solid;
}

h1, footer {
    margin: 3%;
    text-align: center;
}