<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="./css/site.css"/>
    <script src="./js/site2.js" defer></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/onnxruntime-web/dist/ort.min.js"></script>
    <title>Connect 5 With Power-Ups</title>
</head>

<body>
    <h1>Connect 5 With Power-Ups</h1> 
    <h2 id="eventText"></h2>
    <div class="gameBoard">
        <div class="column">
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell playable"></div>
        </div>
        <div class="column">
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell playable"></div>
        </div>
        <div class="column">
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell playable"></div>
        </div>
        <div class="column">
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell playable"></div>
        </div>
        <div class="column">
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell playable"></div>
        </div>
        <div class="column">
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell playable"></div>
        </div>
        <div class="column">
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell playable"></div>
        </div>
    </div>

    <div class="powerups">
        <div id="p1powerup"></div>
        <div id="p2powerup"></div>
        <div id="resetbutton"></div>
    </div>
    <p id="predict">
        AI Prediction
    </p>
</body>

<footer>
    Copyright © OASIS 2025
</footer>

</html>