<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="./css/site.css"/>
    <title>Connect 5 With Power-Ups</title>
</head>

<body>
    <h1>Connect 5 With Power-Ups</h1> 
    
    <div class="gameBoard">
        <div class="column">
            <div class="cell playable p1"></div>
            <div class="cell"></div>
            <div class="cell playable p1"></div>
            <div class="cell playable p1"></div>
            <div class="cell playable p1"></div>
            <div class="cell playable p1"></div>
        </div>
        <div class="column">
            <div class="cell playable p1"></div>
            <div class="cell"></div>
            <div class="cell playable p1"></div>
            <div class="cell playable p1"></div>
            <div class="cell playable p1"></div>
            <div class="cell playable p1"></div>
        </div>
        <div class="column">
            <div class="cell playable p1"></div>
            <div class="cell"></div>
            <div class="cell playable p1"></div>
            <div class="cell playable p1"></div>
            <div class="cell playable p1"></div>
            <div class="cell playable p1"></div>
        </div>
        <div class="column">
            <div class="cell playable p1"></div>
            <div class="cell"></div>
            <div class="cell playable p1"></div>
            <div class="cell playable p1"></div>
            <div class="cell playable p1"></div>
            <div class="cell playable p1"></div>
        </div>
        <div class="column">
            <div class="cell playable p1"></div>
            <div class="cell"></div>
            <div class="cell playable p1"></div>
            <div class="cell playable p1"></div>
            <div class="cell playable p1"></div>
            <div class="cell playable p1"></div>
        </div>
        <div class="column">
            <div class="cell playable p1"></div>
            <div class="cell"></div>
            <div class="cell playable p1"></div>
            <div class="cell playable p1"></div>
            <div class="cell playable p1"></div>
            <div class="cell playable p1"></div>
        </div>
        <div class="column">
            <div class="cell playable p1"></div>
            <div class="cell"></div>
            <div class="cell playable p1"></div>
            <div class="cell playable p1"></div>
            <div class="cell playable p1"></div>
            <div class="cell playable p1"></div>
        </div>
    </div>
</body>

<footer>
    Copyright OASIS 2025
</footer>

</html>