<!DOCTYPE html>
<html>
    <head> 
        <link rel="stylesheet" href="./css/win.css"/>
        <script src="/js/site.js" defer></script>
        <title>The Winner!</title>
    </head>

    <body>
        <h1>🎉 Congratulations! 🎉</h1>
        <p>The winner is: <strong><%= winner %></strong></p>
        <button onclick="goToHome()">Play Again</button>

        <script>
            function goToHome() {
                window.location.href = '/'; // Redirect to the base game
            }
        </script>
    </body>
</html>
